*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: hsl(185, 75%, 39%);
}

.bg-img-top {
  position: absolute;
  bottom: 15%;
  right: 40%;
  z-index: -1;
  transform: rotate(60deg);
}

.side-crop {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: -1;
  width: 50%;
  height: 120%;
  overflow: hidden;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

.container {
  width: 320px;
  margin: 5% auto;
  text-align: center;
  border-radius: 10px;
  background: white;
  z-index: 1;
}

.bg-card-img {
  width: 100%;
  background: url(../images/bg-pattern-card.svg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.profile-picture {
  border-radius: 50px;
  display: block;
  position: relative;
  bottom: 50px;
  left: 35%;
  border: white solid 4px;
}

.victor-details {
  margin-top: -30px;
}

.name {
  font-weight: 700;
  display: inline;
}

.age {
  display: inline;
  margin-left: 3px;
}

.light-line {
  margin-top: 30px;
  color: hsl(0, 0%, 59%);
}

.flex-box {
  display: flex;
  flex-flow: row wrap;
}

.item {
  flex: 0 0 30%;
  margin-top: 0;
}

.count {
  font-weight: 700;
  margin-bottom: 0;
}

.attribution {
  text-align: center;
  margin: 10px 0;
}

.attribution a{
  text-decoration: none;
  color: hsl(229, 23%, 23%);
  font-style: italic;
}